@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: "Inter", sans-serif;
  --color-pmi-brand: #0075c9;
  --color-pmi-primary: #5621b4;
  --color-pmi-deep: #13072e;
  --color-pmi-accent: #ff6b00;
  --color-pmi-gray: #f4f4f4;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply font-sans bg-slate-50 text-slate-900;
  }
  html {
    @apply font-sans;
  }
}

@layer utilities {
  /* Custom curve for the hero image */
  .hero-curve {
    border-radius: 0 50% 50% 0 / 0 50% 50% 0;
  }
}
